.remark-slide-scaler {
  // -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  will-change: transform;
}

.remark-slide-content {
  background-color: var(--light);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: color-mix(in srgb, var(--light) 80%, transparent);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding-top: 1.5rem;
  }

  h1 {
    color: var(--primary);
  }

  .tags {
    gap: .6rem;
  }

  li {
    line-height: 1.8;
    list-style-position: outside;

    img,
    video,
    audio,
    iframe,
    svg {
      vertical-align: top;
    }

    blockquote {
      margin-left: 0;
    }

  }

  p {
    line-height: 1.8;
  }

  .remark-slide-number {}

  pre {
    padding: 0;

    code {
      padding: .5rem;
      font-size: large;
    }
  }

  img {
    margin: 0 0;
  }

  video,
  audio,
  iframe {
    margin: 10px 0;
  }

  .callout {
    padding-bottom: 0.8rem;

    .callout-title {
      padding-bottom: 0.2rem;

      .callout-icon {
        margin: auto 0;
      }
    }
  }
}
